
<div style="padding-bottom:50px">
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card" style="width: 80%;">
            <div class="card-body">
              <h5 class="card-title">2016</h5>
              <h6 class="card-subtitle mb-2 text-muted">Courses PHP</h6>
              <p class="card-text">LOGOS IT ACADEMY</p>
           
            </div>
          </div>
          <div class="card" style="width: 80%;" >
              <img class="card-img-top img-fluid" src="../assets/images/skills.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text"></p>
              </div>
            </div>
    </div>
    <div class="col-lg-6">
        <div class="card" style="width: 80%;">
            <div class="card-body">
              <h5 class="card-title">2017</h5>
              <h6 class="card-subtitle mb-2 text-muted">Courses C#</h6>
              <p class="card-text">SoftServe</p>
           
            </div>
          </div>
          <div class="card" style="width: 80%;" >
              <img class="card-img-top img-fluid" src="../assets/images/skills.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text"></p>
              </div>
            </div>
    </div>
</div>