<footer id="myFooter">
    <div class="container">
        <div class="row" style="padding-top:10px">
            <div class="col-sm-4 myCols">
               
            </div>
            <div class="col-sm-4 myCols">
                <div class="container text-center">
                    <a href="#"><i class="fa fa-facebook  fa-2x" style="margin:20px"></i></a>
                   <a href="#"><i class="fa fa-google-plus  fa-2x" style="margin:20px"></i></a>
                    <a href="#"><i class="fa fa-skype  fa-2x" style="margin:20px"></i></a>
                  </div>
            </div>
            <div class="col-sm-4 myCols">
               
            </div>
           
        </div>
    </div>
    
    <div  class="container text-center">
        <p>© 2018 </p>
    </div>
</footer>