
<div class="row">
    <div class="col-lg-6">
        <p class="text-center font-weight-bold" style="margin-top:50px;" >
            ABOUT ME
          </p>
        <img src="assets/images/man02.png" style=" height:500px;padding-left:190px; " class="img-fluid  d-none d-sm-inline" alt="Responsive image">
    </div>
    
   
    <div class="col-lg-6" style="margin-top:50px">
    <p class="text-center">    ROMAN KUSMIRCHUK</p> 
  <p class="text-center">  PHP and HTML, CSS, JavaScript DEVELOPER</p> 
<p class="text-justify">     Hello, I’m Roman Kusmirchuk. I have more than 2 years experience on php and html. There is also an angular experience.
        
    </p>  
    
  </div>