
<div class="row">
    <div class="col-lg-6">
        <p class="text-center font-weight-bold" style="margin-top:50px;" >
            ABOUT ME
          </p>
        <img src="assets/images/man02.png" style=" height:500px;padding-left:190px; " class="img-fluid  d-none d-sm-inline" alt="Responsive image">
    </div>
    
   
    <div class="col-lg-6" style="margin-top:50px">
    <p class="text-center">    ROMAN KUSMIRCHUK</p> 
  <p class="text-center">  PHP and HTML, CSS, JavaScript DEVELOPER</p> 
<p class="text-justify">     Hello, I’m Roman Kusmirchuk. I have more than 2 years experience on php and html. There is also an angular experience.
        
    </p>  

    <hr style="margin-bottom:50px" >
    <p>
        <i class="material-icons vertical-align-middle padding-bottom-3">accessibility</i>  <span class="font-weight-bold">    DATE OF BIRTH:</span> 5 APR 1980 
    </p>

    <p>
        <i class="material-icons vertical-align-middle padding-bottom-3">phone_android</i><span class="font-weight-bold">   PHONE:</span> 067 759 24 23
    </p>

    <p>
        <i class="material-icons vertical-align-middle padding-bottom-3">mail</i>    <span class="font-weight-bold">   EMAIL: </span> kusmirchuk@ukr.net
    </p>

    
  </div>

  
</div>