
<div class="row">
    <div class="col-lg-6" style="margin-top:50px">
        
        <div class="card" >
            <img class="card-img-top img-fluid" src="../assets/images/titkoholes.jpg" alt="titko.hol.es">
            <div class="card-body">
              <p class="card-text">The site is written in php without the use of frameworks.<br>titko.hol.es</p>
            </div>
          </div>
    </div>
    
   
    <div class="col-lg-6" style="margin-top:50px">

        <div class="card" >
            <img class="card-img-top img-fluid" src="../assets/images/knigomania.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">The site is created using WordPress.
                <br>knygomaniablog.wordpress.com
              </p>
            </div>
          </div>
  </div>
</div>