
<nav class="navbar navbar-dark " style="background-color: #7C4DFF;">
  <div class="container" >
  <div >
    <a class="nav-link" routerLink="/contact" routerLinkActive="active">
        <i class="material-icons">drafts</i> 
        <span class="av_frelance d-none d-sm-inline">{{av_frelance}}</span>
      </a>
  </div>

  <form class="form-inline my-2 my-lg-12">
      <a class="nav-link" href="#"> <i class="material-icons">search</i>  </a>
        <a class="nav-link" href="#"><i class="material-icons">file_download</i>  </a>
          <a class="nav-link" href="#"><i class="material-icons">more_vert</i>  </a>
        
    </form>
</div>
</nav>


<nav class="navbarm navbar navbar-expand-lg navbar-light bg-light navbar-md">
    <div class="container">

    <a class="navbar-brand d-none d-sm-inline font-weight-bold" routerLink="/home"  >KUSMIRCHUK ROMAN</a>
    
    <form class="form-inline my-2 my-lg-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
   
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav font-weight-bold" style="color:#000">
        
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">HOME </a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
        <a class="nav-item nav-link" routerLink="/skill" routerLinkActive="active">SKILL</a>
        <a class="nav-item nav-link" routerLink="/experience" routerLinkActive="active">EXPERIENCE</a>
        <a class="nav-item nav-link" routerLink="/education" routerLinkActive="active">EDUCATION</a>
        <a class="nav-item nav-link" routerLink="/work" routerLinkActive="active">WORK</a>
        <a class="nav-item nav-link" routerLink="/blog" routerLinkActive="active">BLOG</a>
        <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
      
      </div>
    </div>
    </form>
  </div>
  
  </nav>

 