<nav class="navbar navbar-dark " style="background-color: #7C4DFF;">
 <div class="container">
  <div >
      <a class="nav-link" href="#">
        <i class="material-icons">drafts</i> 
        <span class="av_frelance d-none d-sm-inline">{{av_frelance}}</span>
      </a>
  </div>

  <form class="form-inline my-2 my-lg-12">
      <a class="nav-link" href="#"> <i class="material-icons">search</i>  </a>
        <a class="nav-link" href="#"><i class="material-icons">file_download</i>  </a>
          <a class="nav-link" href="#"><i class="material-icons">more_vert</i>  </a>
        
    </form>
 </div>
</nav>

<nav class="navbarm navbar navbar-expand-lg navbar-light bg-light navbar-md">
    <div class="container">

    <a class="navbar-brand d-none d-sm-inline" href="#">KUSMIRCHUK ROMAN</a>
    
    <form class="form-inline my-2 my-lg-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
   
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="color:#000">
        
        <a class="nav-item nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">ABOUT</a>
        <a class="nav-item nav-link" href="#">SKILL</a>
        <a class="nav-item nav-link" href="#">EXPERIENCE</a>
        <a class="nav-item nav-link" href="#">EDUCATION</a>
        <a class="nav-item nav-link" href="#">WORK</a>
        <a class="nav-item nav-link" href="#">BLOG</a>
        <a class="nav-item nav-link" href="#">CONTACT</a>
      </div>
    </div>
    </form>
  </div>
  </nav>

 