.progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
    
    .title {
      opacity: 0;
      animation: show 0.35s forwards ease-in-out 0.5s;
    }
  } 
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
  @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fai{
    color:#7C4DFF !important; 
    padding:20px;
    border: 1px solid #70726F;
    background:#FFFFFF !important; 
    border-radius: 5px; 
}

.fai:hover{
    color:#FFFFFF !important; 
    padding:20px;
    border: 1px solid #70726F;
    background:#7C4DFF !important; 
}