
<div class="row">
    <div class="col-lg-6">
        <p class="text-center font-weight-bold" style="margin-top:50px;" >
            MY SKILLS VALUES
          </p>
          <div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="max-width: 60%; background-color:#7C4DFF">
										<span>PHP 60%</span>
									</div> <!-- end .progress-bar -->
                </div>
              <br/>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="max-width: 60%; background-color:#7C4DFF">
                      <span>HTML 60%</span>
                    </div> <!-- end .progress-bar -->
                  </div> 
                  <br/>
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="max-width: 60%; background-color:#7C4DFF">
                        <span>CSS 60%</span>
                      </div> <!-- end .progress-bar -->
                    </div> 
                    <br/>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="max-width: 60%; background-color:#7C4DFF">
                          <span>Javascript 60%</span>
                        </div> <!-- end .progress-bar -->
                      </div>   
                      
                      
            
    </div>
    
   
    <div class="col-lg-6" style="margin-top:50px">
   
        <div class="card" >
            <img class="card-img-top img-fluid" src="../assets/images/skills.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
  </div>
</div>

 