
<div class="row">
  <div class="col-lg-6">
    <h3 class="text-center font-weight-bold" style=" padding:150px 0 50px 0;" > {{people.homeMainText}}</h3>
   <h6 class="font-weight-bold text-justify">   {{people.homeText}}  </h6>
   <div class="row">
    
   <div class="col-lg-6">
      <button style="margin:25px;" (click)="clicked()" class=" rounded mx-auto d-block" mat-raised-button color="primary">DOWNLOAD CV</button>
      
  </div>
  <div class="col-lg-6">
    <button style="margin:25px;" (click)="btnClick()" class=" rounded mx-auto d-block" mat-raised-button color="basic">HIRE ME NOW</button>
    
  </div>
  
  </div>
  <div class="row" *ngIf="isValid">
      <div class="col-lg-6">
          <div class="alert alert-info" role="alert">
             <a href="assets/data/cv.pdf"  download> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>  cv.pdf</a>
            </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <img src="assets/images/man01.png" style="position:relative; height:550px;padding-left:50px; bottom:-50px;  " class="img-fluid  d-none d-sm-inline" alt="Responsive image">
  </div>
  
</div>
<div class="row" *ngIf="isValidContact" style="padding:20px 0;" >
  <div class="col-lg-12">
      <app-contact></app-contact>
  </div>
</div>

 

