
<div class="row">
  <div class="col-lg-6">
    <h3 class="text-center font-weight-bold" style=" padding:150px 0 50px 0;" >PHP and HTML, CSS, JavaScript  DEVELOPER</h3>
   <h6 class="font-weight-bold text-justify"> Hello, I’m Benjamin Thomson.
     I Have 3 years of experience in Web and UX design.
    I am worked on a variety of brands and with agencies both big and small.
   </h6>
   <div class="row">
    
   <div class="col-lg-6">
      <button style="margin:25px;" class=" rounded mx-auto d-block" mat-raised-button color="primary">DOWNLOAD CV</button>
      
  </div>
  <div class="col-lg-6">
    <button style="margin:25px;" class=" rounded mx-auto d-block" mat-raised-button color="basic">HIRE ME NOW</button>
    
  </div>
  
  </div>
  
  </div>
  <div class="col-lg-6">
    <img src="assets/images/man01.png" style="position:relative; height:550px;padding-left:150px; bottom:-50px;" class="img-fluid  d-none d-sm-inline" alt="Responsive image">
  </div>
  
</div>

